/* .title {
    margin-top: 15rem;
}

.title_2{
    font-weight: 900;
    font-size: 160px;
    color: #1d1d1d;
    font-family: Schnyder L;
}

.arrow{
    margin-left: 10rem;
    width: 30%;
    margin-top: -5rem;
}

.arrow_img{
    
}

@media screen and (max-width: 1000px) {
    .title {
        margin-top: 5rem;
    }

    .title_2 {
        font-size: 70px;
    }

    .arrow{
        margin-left: 0rem;
        width: 0%;
        margin-top: -5rem;
    }
} */



@media screen and (max-width: 1000px) {
    .desktop-view {
      display: none !important;
    }
  }

  @media screen and (min-width: 1000px) {
    .mobile-view {
      display: none !important;
    }
  }