@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-Bold.woff2') format('woff2'),
        url('/fonts/Maax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax.woff2') format('woff2'),
        url('/fonts/Maax.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-Mediumitalic.woff2') format('woff2'),
        url('/fonts/Maax-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-BoldItalic.woff2') format('woff2'),
        url('/fonts/Maax-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-Black.woff2') format('woff2'),
        url('/fonts/Maax-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-Medium.woff2') format('woff2'),
        url('/fonts/Maax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax';
    src: url('/fonts/Maax-Italic.woff2') format('woff2'),
        url('/fonts/Maax-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-BoldItalic.woff2') format('woff2'),
        url('/fonts/SchnyderL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-DemiItalic.woff2') format('woff2'),
        url('/fonts/SchnyderL-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-Bold.woff2') format('woff2'),
        url('/fonts/SchnyderL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-Demi.woff2') format('woff2'),
        url('/fonts/SchnyderL-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-LightItalic.woff2') format('woff2'),
        url('/fonts/SchnyderL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('/fonts/SchnyderL-Light.woff2') format('woff2'),
        url('/fonts/SchnyderL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-BoldItalic.woff2') format('woff2'),
        url('/fonts/SchnyderM-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-Bold.woff2') format('woff2'),
        url('/fonts/SchnyderM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-DemiItalic.woff2') format('woff2'),
        url('/fonts/SchnyderM-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-Demi.woff2') format('woff2'),
        url('/fonts/SchnyderM-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-LightItalic.woff2') format('woff2'),
        url('/fonts/SchnyderM-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('/fonts/SchnyderM-Light.woff2') format('woff2'),
        url('/fonts/SchnyderM-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('/fonts/SchnyderS-BoldItalic.woff2') format('woff2'),
        url('/fonts/SchnyderS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-Bold.woff2') format('woff2'),
        url('SchnyderS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('/fonts/SchnyderS-DemiItalic.woff2') format('woff2'),
        url('/fonts/SchnyderS-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('/fonts/SchnyderS-LightItalic.woff2') format('woff2'),
        url('/fonts/SchnyderS-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('/fonts/SchnyderS-Demi.woff2') format('woff2'),
        url('/fonts/SchnyderS-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('/fonts/SchnyderS-Light.woff2') format('woff2'),
        url('/fonts/SchnyderS-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-BoldItalic.woff2') format('woff2'),
        url('/fonts/SchnyderXL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-Bold.woff2') format('woff2'),
        url('/fonts/SchnyderXL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-DemiItalic.woff2') format('woff2'),
        url('/fonts/SchnyderXL-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-Demi.woff2') format('woff2'),
        url('/fonts/SchnyderXL-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-LightItalic.woff2') format('woff2'),
        url('/fonts/SchnyderXL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('/fonts/SchnyderXL-Light.woff2') format('woff2'),
        url('/fonts/SchnyderXL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('/fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('/fonts/DMSerifDisplay-Italic.woff2') format('woff2'),
        url('/fonts/DMSerifDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Black.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedBlack.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedBlackOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedBlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedBold.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedLight.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedBoldOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedLightOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('/fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('/fonts/GTWalsheimPro-CondensedMediumOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedMediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedRegular.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedRegularOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedRegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedThin.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('/fonts/GTWalsheimPro-CondensedThinOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra';
    src: url('/fonts/GTWalsheimPro-CondensedUltraBold.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedUltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra';
    src: url('/fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimPro-CondensedULight';
    src: url('/fonts/GTWalsheimPro-CondensedUltraLight.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimPro-CondensedULightIt';
    src: url('/fonts/GTWalsheimPro-CondensedUltraLightOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-CondensedUltraLightOblique.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Light.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-LightOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-RegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/fonts/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-ThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra';
    src: url('/fonts/GTWalsheimPro-UltraBold.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra';
    src: url('/fonts/GTWalsheimPro-UltraBoldOblique.woff2') format('woff2'),
        url('/fonts/GTWalsheimPro-UltraBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

